@import "tailwindcss";
@media print {
  /* hide everything except print target */
  body * { visibility: hidden; }
  .print-area, .print-area * { visibility: visible; }
  .print-area { position: absolute; left: 0; top: 0; width: 100%; }
  .no-print { display: none !important; }
  
  /* force colors in print */
  * { -webkit-print-color-adjust: exact; print-color-adjust: exact; }
}